/*normalize */
@import "../bower_components/normalize-css/normalize.css";

/*minor resets*/
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 0.1 rem;
    margin-bottom: 1.5rem;
}

*{
    width: 100%;
}


/*desktop*/
body {
    background-color: #ffda79;
    display: grid;
    grid-template-areas:
        " . menu . "
        " . header . "
        " . content . "
        " . address . "
        " . footer . ";
    margin: 0;
    padding: 0;
}

nav {
    grid-area: menu;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: grey;
    font-size: 1.3rem;
    margin: 1rem 2rem;
}

.logo{
    margin: 1.5rem;
    width: 25%;
}

header {
    grid-area: header;
}

main {
    grid-area: content;
}

address {
    grid-area: address;
}

footer {
    grid-area: footer;
}

/*tablet*/
@media screen and (max-width:800px) {
    body {
        background-color: #34ace0;
    }
    nav{
        flex-direction: column-reverse;
    }
}

/*mobile */
@media screen and (max-width:500px) {
    body {
        background-color: #218c74;
    }
}
/*design*/
/*print*/
/*monochrome toggle*/
/*a11y*/
/*reader friendly*/


